<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isowaytion - IsoStats</title>
    <!-- Style Links -->
    <link rel="stylesheet" type="text/css" href="../css/isostats.css">
    <link rel="stylesheet" href="../css/aboutus.css" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <!-- Back button and Title -->
    <div class="top">
        <i class="fas fa-angle-left" onclick="history.back()"></i>
        <h2 class="title">
            IsoStats
        </h2>
    </div>
    <!-- NavBar -->
    <form action="/isostats" method="POST"></form>
    <div class="header bounce-in-top">
        <div class="dot"><img id="profile" src="<%= profilePic %>"></div>
        </br>
        <h1 id="name" class="text-pop-up-top"><%= name %></h1>
    </div>
    <div class="outer">
        <div class="info swing-in-top-fwd ">
            <ul>
                <div id="info1">
                    <li id="title"><b>Points</b></li>
                    <li id="points"><b><%= points %></b></li>
                </div>
                <div id="info2">
                    <li id="title"><b>Number of Routes</b></li>
                    <li id="points"><b><%= points %></b></li>
                </div>
                <div id="info3">
                    <li id="title"><b>Days using the App</b></li>
                    <li id="points"><b><%= points %></b></li>
                </div>
            </ul>
            <ul id="stars">
                <% if (points < 10 || points == null) { %>
                <li>
                    <img src="../Images/star.png">
                </li>
                <% } else if (points >= 10 && points < 20) { %>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <% } else if (points >= 20 && points < 30) { %>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <% } else if (points >= 30 && points < 50) { %>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <% } else { %>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <li>
                    <img src="../Images/star.png">
                </li>
                <% } %>
            </ul>
            </br>
            <div id="message" class="bounce-in-top-later">
                <% if (points < 10 || points == null) { %>
                <h5>You'll have to show how you isolate!</h5>
                <% } else if (points >= 10 && points < 20) { %>
                <h5>You're starting to take this serious!</h5>
                <% } else if (points >= 20 && points < 30) { %>
                <h5>You're doing your part to flatten the curve!</h5>
                <% } else if (points >= 30 && points < 50) { %>
                <h5>You're a model citizen!</h5>
                <% } else { %>
                <h5>You're an IsoExpert!</h5>
                <% } %>
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>
        <p class="footer">COMP2800 Team Horton</p>
        </form>
    </div>

    <!-- Javascript files and other API's -->
    <script src="https://kit.fontawesome.com/df012b2a98.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>