<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IsoWaytion - Leaderboard</title>
    <!-- Style Links -->
    <link rel="stylesheet" type="text/css" href="../css/leaderboard.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <div class="top">
        <i class="fas fa-angle-left" onclick="history.back()"></i>
        <h2 class="title">
            Leaderboard
        </h2>
    </div>
    <div class="outer">

        <div class="info">

            <ul>
                <form action="/leaderboard" method="POST">
                    <div id="userInfo">
                        <li id="title"><b><%= name %></b></li>
                        <li id="points"><b><%= points %></b></li>
                    </div>
                </form>
                <% if (userData.length / 2 < 10) { %>
                <% for (var i = 0; i < userData.length;  i += 2 ) { %>
                <button id="info1">
                    <li id="title"><b><%= userData[i] %></b></li>
                    <li id="points"><b><%= userData[i + 1] %></b></li>
                </button>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <ul style="display: flex;">
                            <div style="flex-grow: 3;">
                                <li>Points</li>
                                <li>Number of Routes</li>
                            </div>
                            <div>
                                <li><%= userData[i + 1] %></li>
                                <li>12</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <% for (var i = 0; i < 10;  i += 2 ) { %>
                <button id="info1">
                    <li id="title"><b><%= userData[i] %></b></li>
                    <li id="points"><b><%= userData[i + 1] %></b></li>
                </button>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <ul style="display: flex;">
                            <div style="flex-grow: 3;">
                                <li>Points</li>
                                <li>Number of Routes</li>
                            </div>
                            <div>
                                <li><%= userData[i + 1] %></li>
                                <li>12</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <% } %>
                <% } %>
            </ul>
        </div>
        <script>
            // Get the content specific to the user.
            let modal = document.getElementsByClassName("modal");

            // Get the button that opens the modal
            let btn = document.getElementById("info1");

            // Get the <span> element that closes the modal
            let span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            for (let i = 0; i < modal.length; i ++) {

                btn.onclick = function () {
                    modal[i].style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal[i].style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                    modal[i].style.display = "none";
                    }
                }
            }
        </script>
        <script src="https://kit.fontawesome.com/df012b2a98.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <!-- JS Files -->
        <script src="/script/scripts/leaderboard.js"></script>
</body>

</html>